.footer {
  background: #204458;
  color: white;

  .wrap {
    display: flex;
    flex-flow: column;
    margin: 0 auto;
    height: 205px;
  }

  &__logo {
    width: 15em;
    height: 12em;
    background: white;
    padding-top: 30px;
    padding-bottom: 30px;
    position: absolute;

    figure {
      margin: 0 !important;
    }

      img {
        width: 6em;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        top: 70px;
      }
  }

  &__logo::after {
    content: "";
    position: absolute;
    width: 37px;
    border-style: solid;
    top: 0px;
    left: 226px;
    border-width: 204px 78px 0 0;
    border-color: white transparent transparent transparent;
    color: white;

  }

  &__content {
    padding-top: 70px;

    &-main, &-legal {
    display: flex;
    flex-flow: row;
    justify-content: center;
    width: 1000px;
    margin: 0 auto;

      p {
        padding-right: 30px;
      }

    }

    &-legal {
      justify-content: right !important;
      justify-self: right !important;
      width: 635px;
      font-size: 15px;
      margin-left: 805px;

      a {
        color: white;
      }

      p {
        padding-right: 30px !important;
      }
    }

    &-social {
      position: absolute;
      left: 1500px;
      top: 5200px;

      a {
        margin-right: 20px;
      }


      a:hover, i:hover  {
        color: #1C4459;
        border-color: #1C4459;
      }


      i {
        align-self: flex-start;
        transition: 0.2s all ease-in-out;
      }

      .fa-2x {
        text-align: center;
        color: white;
        top: 30px;
        left: 30px;
        border: 3px solid white;
        padding: 10px;
        padding-left: 10px;
        height: 60px;
        width: 60px;
        border-radius: 50%;
      }


    }
  }


}