
.header {
  z-index: 1000;
  position: relative;

  .wrap {
    width: 90%;
    margin: 4em auto;
  }


  &__main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    &-logo {
      width: 6em;
      figure {
        margin: 0 !important;
      }
    }

  &__menu {

    &-icons {
      height: 50px;
      width: 50px;


      .menu-icon-1 {
        width: 40px;
      }

      .menu-icon-2 {
        width: 25px;
        margin-top: 5px;
        transition: 0.4s ease-in-out;
      }

      .menu-icon-3 {
        width: 15px;
        margin-top: 5px;
        transition: 0.4s ease-in-out;
      }

      span {
        height: 6px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        display: block;
        background: #1F4457;
       }
       }
    &-icons:hover {
      .menu-icon-2 {
        width: 40px;
      }

      .menu-icon-3 {
        width: 40px;

      }
      }
    }
  }
}


